.wrap {
    padding: 4.8rem;
    position:relative;
    width: 100%;
  }
  h3 {
    font-size:2.4rem;
    font-weight: 600;
    text-align:center;
  }
  .clients {
      align-items: center;
      -webkit-box-align: center;
      display: grid;
      gap: 4.8rem 4.8rem;
      grid-template-columns: auto auto;
      justify-items: center;
      margin: 4.8rem auto;
      max-width: 1024px; }
  
  .clients li {
    list-style: none;
    margin: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .clients img {
    height: 3.2rem;
  
  }
  .clients:hover li {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  }
  .clients:hover li:not(:hover)  {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  }
  .clients li:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem); 
  }
  
  @media (min-width: 1024px) {
  .clients {
      grid-template-columns: auto auto auto auto; }
      
  .clients img {
    height: 4rem; }}
  
  /* --- Images (gray logo) --- */
  .clients img {
    -webkit-filter: grayscale(100%) brightness(10%) contrast(10%);
            filter: grayscale(100%) brightness(10%) contrast(10%); }
  
  .clients img:hover {
    background: none;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }



    .sectionlo-headers {
        padding: 16px 185px;
        text-align: center;
      }
      .sectionl0-headers * {
        color: white;
        text-align: center;
      }
      .sectionlo-title {
        margin: 0px;
        text-align: center;
        color: white;
        font-size: 35px;
        position: relative;
        padding-bottom: 10px;
        display: inline-block;
        margin: 0 auto;
      }
      .sectionlo-title:after {
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
      